.add-containers-form {
  padding: 10px;
}

.add-containers-form .controls {
    /* margin-left: 0; */
    clear: both;
}

.add-containers-form .control-label {
    /* width: 100%; */
    /* text-align: left; */
    /* margin-left: 0; */
}

.add-containers-form form {
  margin: 0;
}

.add-containers-form fieldset {
  width: 500px;
  padding: 10px;
  #template { display:none;  }
}

.add-containers-form .form-actions {
  margin: 0;
}

.add-containers-form #container_type_error {
  display: none;
}

.add-containers-form #instance_type_error {
  display: none;
}

.add-containers-form #container_start_error {
  display: none;
}

.add-containers-form #container_end_error {
  display: none;
}

.add-containers-form #container_range_order_error {
  display: none;
}

.add-containers-form #container_range_size_error {
  display: none;
}